

.footer{
    margin-left: 30px;
    display: flex;
    justify-content: space-between;
    height: 500px;
    width: auto;
    padding: 5rem;
}

.info{
  justify-content: space-around;
   margin-left: 290px;
   
}
h4{
    color: red;
}
h6 {
    color: black;
    margin-top: 60px;
}
.apps{
    margin-top: 50px;
}
.gpay{
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    height: 50px;
    width: 50px;
}
.AppStore{
  
   margin-left: 10px;
    height: 40px;
    width: 50px;
} 